<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Account Management System</title>
        <meta name = "authors" content = "Angel Mae Janiola, Myra Verde">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    </head>
    <body>
        <div class="signup-container"> 

            <div class="signup-intro">
                <h1>Create Account</h1>
                <p>Join us today!</p>
            </div>
            <form id="signup-form">
                <label for="full-name">Full Name</label>
                <input type="text" id="full-name" name="full_name" placeholder="Juan dela Cruz">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="name@gmail.com" required>
                <label for="username">Username</label>
                <input type="text" id="username" name="username" placeholder="e.g. jdcruz" required>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required minlength="8">
                <button type="submit">Sign Up</button>
            </form>
            <button type = "button" id = "login-btn">Already have an account? Login</button>
        </div>
    </body>
</html>